/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to top, #d8dbd6 15% 82%, #009688 18%);
}

.height-row {
  height: 550px;
  padding-top: 5%;
}


.clickable {
    cursor: pointer;
  }


/* CUSTOM */

.col-4 {
    background-color: white;
    border-right: 2px solid #009688;
}

.col-8 {
    background-image: url("../img/mine.jpg");
}

header, footer {
    background-color: #eaeaea;
}

#chat header,
#chat footer, 
.user-me
 {
  height: 60px;
}

/* MEDIA */

.media {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .media figure {
    height: 70px;
    padding: 0.5rem;
    margin-bottom: 0;
  }

  .media img {
    height: 100%;
    max-width: 100%;
    border-radius: 50%;
  }
  
  .media .media-text {
    margin-bottom: 0;
    font-size: 15px;
  }

  .media .white-circle {
    width: 50px;
    height: 50px;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
  }

  li.media:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }

/* COLORING */

.greyIcons {
    color: #b1b1b1;
    margin-right: 15px;
    line-height: 70px;
}

.greyColor {
    color: #b1b1b1;
}

.textDescription {
    font-size: 12px;
    color: rgb(126, 126, 126);
}

#lightblue-alert {
    height: 70px;
    background-color: #8edafc;
}

.lightBlue-icon {
    color: #8edafc;
}


/* MESSAGES */
.message-balloon {
    display: flex;
    margin-top: 5px;
  }
  .message-balloon.sent {
    justify-content: flex-end;
  }
  
  .message-balloon.received {
    justify-content: flex-start;
  }

  .message-balloon.sent .message {
    background-color: #d5f9ba;
  }
  
  .message-balloon.received .message {
    background-color: #fff;
  }
  
  .message p {
    margin-bottom: 0;
    font-size: 13px;
  }
  .message time {
    display: block;
    text-align: right;
    font-size: 11px;
    color: #aaa;
  }
