<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="./css/style.css">

    <!-- VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- DAY JS-->

    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.6/dayjs.min.js"></script>

    <title>BoolzApp</title>



</head>

<body>
    <main class="container h-100" id="app">
        <div class="row height-row gx-0">
            <div class="col-4 d-flex flex-column h-100">
                <header class="flex-shrink-0 d-flex justify-content-between">
                    <div class="media user-me">
                        <figure>
                            <img :src="`img/avatar${user.avatar}.jpg`" :alt="user.name" />
                        </figure>
                        <div class="h6 media-text">{{ user.name }}</div>
                    </div>
                    <div>
                        <i class="fas fa-circle-notch fa-lg greyIcons clickable"></i>
                        <i class="fas fa-comment-alt fa-lg greyIcons clickable"></i>
                        <i class="fas fa-ellipsis-v fa-lg greyIcons clickable"></i>
                    </div>
                </header>

                <!-- SEZIONE ALERT BLU-->
                <section id="lightblue-alert" class="d-flex media">
                    <div class="white-circle mt-2 ms-3 me-2">
                        <i class=" fas fa-bell-slash fa-lg lightBlue-icon"></i>
                    </div>
                    <div class="mt-2">
                        <span class="media-text">Ricevi notifiche di nuovi messaggi
                        </span>
                        <p class="textDescription text-decoration-underline clickable">Attiva notifiche desktop</p>
                    </div>
                </section>

                <!-- SEARCHBAR CONTATTI-->
                <section id="userSearch">
                    <nav class="navbar navbar-light bg-light">
                        <form class="container-fluid">
                            <div class="input-group pe-2 ps-2">
                                <button class=" input-group-text bg-white" id="basic-addon1"><i
                                        class="fas fa-search fa-sm greyColor"></i></button>
                                <input type="text" class="form-control textDescription" v-model="searchedName"
                                    placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </form>
                    </nav>
                </section>
                <!-- USERS LIST-->
                <section class="flex-grow-1 overflow-auto bg-white">
                    <ul class="m-0 p-0">
                        <li class="media" v-for="(contact, index) in contacts" @click="setCurrentUser(index)">
                            <figure>
                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name" />
                            </figure>
                            <div class="h6 media-text">
                                <div>{{ contact.name }}</div>
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
            <!-- SEZIONE CHAT-->
            <section class=" chat col-8 d-flex flex-column h-100">
                <header class="d-flex justify-content-between">
                    <div class="media">
                        <figure>
                            <img :src="`img/avatar${contacts[currentUser].avatar}.jpg`"
                                :alt="'Avatar '+ `${contacts[currentUser].name}`" />
                        </figure>
                        <div class="h6 media-text">
                            <div>{{contacts[currentUser].name}}</div>
                            <div class="textDescription">
                                <small>Ultimo accesso oggi alle:
                                    <time datetime="2021-08-03T012:53"> 12:53</time>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div>
                        <i class="fas fa-search fa-lg greyIcons clickable"></i>
                        <i class="fas fa-paperclip fa-lg greyIcons clickable"></i>
                        <i class="fas fa-ellipsis-v fa-lg greyIcons clickable"></i>
                    </div>
                </header>

                <!-- CHAT MESSAGES-->

                <div class="flex-grow-1 overflow-auto">
                    <ul>
                        <li class="message-balloon me-3" :class="item.status"
                            v-for="item in contacts[currentUser].messages">
                            <div class="message p-2 rounded-3">
                                <p>{{item.message}}</p>
                                <time> {{item.date}}</time>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- FOOTER-->

                <footer class="flex-shrink-0 container-fluid">
                    <div class="row align-items-center">
                        <div class="col-1">
                            <i class="far fa-smile fa-2x text-muted clickable ps-2"></i>
                        </div>
                        <div class="col-10">
                            <input type="text" class="form-control m-2" v-model.trim="newText"
                                @keyup.enter="sendMessage" placeholder="Scrivi un messaggio" />
                        </div>
                        <div class="col-1">
                            <i class="
                            fas fa-microphone fa-2x
                      text-muted
                      clickable pe-2
                    "></i>
                        </div>
                    </div>
                </footer>
            </section>
        </div>

    </main>

    <script src="./js/script.js"></script>
</body>

</html>